
.sidebar-container{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.profile-img {
    width: 55px;
    height: 55px;
    border-radius: 20px;
    margin-top: 30px;
    

}

